{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

        <div id="items">
        {% for x in items %}
        <div class="item">
        <div>
        <a href="{% url 'listing' x.id %}">{{x.title}}</a>
        </div>
        <a href="{% url 'listing' x.id %}"><img src="{{ x.link }}" style="width: 250px"> </a>
        <ul> 
            <li>Description: {{x.description}}</li>
            <li>Current price: {{x.price}}</li>
        </ul>
        </div>
        {% endfor %}
        </div>
    
    
{% endblock %}