{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div id="items">
    {% for x in items %}
    <div class='item'>
    {% if x.closed %}
    <div>
    <a href="{% url 'listing' x.id %}">{{x}}</a>
    </div> 
    <a href="{% url 'listing' x.id %}"><img src="{{ x.link }}" style="width:250px"></a>
    <ul>
        <li>Closed</li>
    </ul>
    {% else %}
    <div>
     <a href="{% url 'listing' x.id %}">{{x}}</a> 
    </div>
     <a href="{% url 'listing' x.id %}"><img src="{{ x.link }}" style="width:250px"></a>
     <ul>
         <li>Description: {{x.description}}</li>
         <li>Current price: $ {{x.price}}</li>
     </ul>
    {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}