{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <div id="items">
    {% for x in items %}
    <div class='item'>
    <div>
     <a href="{% url 'listing' x.id %}">{{x}}</a> 
    </div>
    <div>
     <img src="{{ x.link }}" style="width:250px">
    </div>
    <div>
     <ul>
         <li><strong>Description</strong>: {{x.description}}</li>
         <li><strong>Current price</strong>: $ {{x.price}}</li>
     </ul>
    </div>
     <form action="{% url 'remove' x.id %}" method="POST">
         {% csrf_token %}
         <input type="submit" class="btn btn-danger" value="Remove">
     </form>
    </div>
    {% endfor %}
    </div>
{% endblock %}